@using Microsoft.AspNetCore.Identity
@*@using ASPNET_Core_1_0.Models*@

@*@inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager*@

@if (User.Identity.IsAuthenticated)
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="" class="">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index" title="Home">Hello @User.Identity.Name!</a>
        </li>
        <li>
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
        </li>   
<li>&nbsp;</li>
<li>&nbsp;</li>     
        </ul>
    </form>
}
else
{
    @*<ul class="nav navbar-top-links navbar-right">
            <li><a asp-controller="Account" asp-action="Register">Register</a></li>
            <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
        </ul>*@
}
